@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@theme {
  --color-dark: #202938;
  --color-light: #f5f5f5;
}
